@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main: #5c68ff;
    --darkmain: #4452fd;
    --faintmain: rgba(92, 104, 255, 0.1);
    --darkgray: #7a7a7a;
    --lightgray: #e8e8e8;
    --fakeblack: #121212;
    --secondarybg: #f5f5f5;
}

* {
    /* box-sizing: border-box; */
    transition: all 0.3s ease;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

::-moz-selection {
    background: #5c67ff97;
}

::selection {
    background-color: rgba(92, 104, 255, 0.2);
}

body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    @apply text-fakeblack bg-secondarybg relative overflow-x-hidden overflow-y-auto;
}

.line-h-50 {
    line-height: 50px;
}

.input-wrapper input {
    @apply border border-lightgray rounded-small outline-none w-full;
}

input::placeholder,
textarea::placeholder {
    @apply font-medium select-none;
}

.width-max-content {
    width: 100%;
}

@media (min-width: 768px) {
    .width-max-content {
        width: max-content;
    }
}

.digit-inputs > div.input-wrapper:not(:last-child) {
    @apply mr-3 md:mr-3;
}

.digit-inputs > div.input-wrapper input {
    @apply focus:border-main;
}

.app-layout > nav {
    @apply bg-white w-full h-max;
}

.app-layout > nav .link-item {
    background: #fff;
    @apply py-5 px-8 h-full font-medium text-darkgray border-b-4 border-white;
}

.app-layout > nav .link-item:hover {
    @apply text-main border-main;
}

.app-layout > nav .link-item.exact-active {
    @apply bg-faintmain border-main text-main;
}

.workspace-heading button[data-for='add-folder'],
.workspace-heading button[data-for='add-member'],
.workspace-heading button[data-for='share-link'] {
    @apply mr-7;
}

.tabs {
    height: max-content;
}

.tabs * {
    @apply select-none;
}

.tabs .tab {
    @apply flex-grow text-center px-3 sm:px-5 md:px-8 py-2 rounded-[12px] cursor-pointer;
}

.tabs.tab:hover {
    @apply text-main;
}

.tabs .tab.active {
    @apply bg-white shadow-md shadow-[#EAEBFF] text-main;
}

.important {
    @apply bg-red-500 rounded-full w-2 h-2;
}

.options {
    @apply bg-white rounded-lg min-w-[200px] shadow-xl shadow-faintmain z-[2];
    box-shadow: 0 10px 15px rgba(92, 104, 255, 0.2);
    animation: ShowOptions 0.3s ease forwards;
}

.options ul li {
    @apply px-3 py-3 flex items-center text-base;
}

.options ul li > span {
    @apply ml-4;
}

.options ul li:not(:last-child) {
    @apply border-b;
}

@keyframes ShowOptions {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    @apply bg-white shadow-lg shadow-faintmain p-5 rounded-small;
}

.colours-wrapper .colour {
    @apply mr-2;
}

.page-workspace-settings .tab {
    @apply border-l-4 border-l-secondarybg font-medium pl-5;
}

.page-workspace-settings .tab:hover {
    @apply bg-faintmain;
}

.page-workspace-settings .tab.active {
    @apply border-l-4 border-l-main bg-faintmain;
}

.page-new-task form .name label {
    top: 20%;
    @apply text-xl md:text-3xl;
}

.page-new-task form .name input:focus + label,
.page-new-task form .name input:valid + label {
    transform: translateY(-40px);
    @apply font-medium text-base md:text-xl text-darkgray cursor-default;
}

.dropdown {
    @apply bg-white max-h-[250px] md:max-h-[350px] w-full sm:w-11/12 sm:mx-auto md:mx-0 md:min-w-[450px] md:max-w-max rounded-lg shadow-xl shadow-faintmain overflow-y-auto;
    animation: ShowOptions 0.3s ease forwards;
}

.dropdown li.dropdown-item {
    @apply px-5 py-2 cursor-pointer hover:text-main hover:bg-faintmain flex items-center justify-between;
}

.calendar.overlay {
    @apply fixed top-0 right-0 bottom-0 left-0 bg-[rgba(0,0,0,0.5)] w-screen h-screen;
}

.calendar.overlay .fc {
    max-height: 100%;
}

@media (max-width: 768px) {
    .react-datepicker__time-container {
        @apply absolute -left-24 border-2 border-gray-300 rounded-lg overflow-hidden;
    }
}

.codex-editor {
    z-index: unset;
}

.settings-tabs > .settings-tab {
    @apply px-3 text-base md:text-lg md:px-5 border-b-[3px] border-b-secondarybg border-l-secondarybg lg:border-b-0 lg:border-l-4;
}

.settings-tabs > .settings-tab:hover {
    @apply text-main border-b-main lg:border-l-main lg:border-b-secondarybg;
}

.settings-tabs > .settings-tab.active {
    @apply text-main border-b-main lg:border-l-main lg:border-b-secondarybg bg-faintmain;
}
