@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  transition: all 0.3s ease;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

::-moz-selection {
  background: #5c67ff97;
}

::selection {
  background: #5c67ff97;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  @apply text-fakeblack bg-secondarybg relative overflow-x-hidden overflow-y-auto;
}

.input-wrapper input {
  @apply border border-lightgray rounded-small outline-none w-full;
}

.input-wrapper input::placeholder {
  @apply font-medium select-none;
}

.text-password {
  font-family: 'Password', sans-serif;
}

.width-max-content {
  width: 100%;
}

@media (min-width: 768px) {
  .width-max-content {
    width: max-content;
  }
}

.digit-inputs > div.input-wrapper:not(:last-child) {
  @apply mr-3 md:mr-3;
}

.digit-inputs > div.input-wrapper input {
  @apply focus:border-main;
}

nav {
  @apply bg-white w-full h-max;
}

nav .link-item {
  background: #fff;
  @apply py-5 px-8 h-full font-medium text-darkgray border-b-4 border-white;
}

nav .link-item:hover {
  @apply text-main border-main;
}

nav .link-item.exact-active {
  @apply bg-faintmain border-main text-main;
}

.workspace-heading button[data-for='add-folder'],
.workspace-heading button[data-for='add-member'],
.workspace-heading button[data-for='leave-workspace'] {
  @apply mr-7;
}

.workspace-heading .nav .tab:hover {
  @apply text-main;
}

.workspace-heading .nav .tab.active {
  @apply bg-white shadow-md shadow-[#EAEBFF] text-main;
}

.important {
  @apply bg-red-500 rounded-full w-2 h-2;
}

.options {
  @apply bg-white rounded-lg min-w-[200px] shadow-xl shadow-faintmain z-[2];
  box-shadow: 0 10px 15px rgba(92, 104, 255, 0.2);
}

.options ul li {
  @apply px-3 py-3 flex items-center text-base;
}
.options ul li > span {
  @apply ml-4;
}
.options ul li:not(:last-child) {
  @apply border-b;
}